.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.button {
    display: flex;
    justify-content: start;
}

html[data-device="mobile"] .button {
    justify-content: center;
}
