.button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 60px;
    transition: outline-offset 0.13s ease-in-out;
    text-align: center;
    /* border: 2px outset var(--global-color-link); */
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.5);
    background: var(--global-wine-color);
    transition: box-shadow 200ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 6px);
    background: #850831;
    border-radius: inherit;
    transition:
        top 200ms cubic-bezier(0.3, 0.7, 0.4, 1),
        height 200ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button:active:before {
    height: calc(100% + 4px);
}

.button:active {
    box-shadow:
        0 4px 0px 0px rgba(0, 0, 0, 0.5),
        inset 0 4px 2px 0px rgba(0, 0, 0, 0.5);
}

.button:hover {
    outline-offset: 0px;
}

.icon {
    position: relative;
    width: 40px;
    height: 40px;
    transition: transform 0.13s ease-in-out;
    transform: rotate(-25deg) scale(1);
    overflow: hidden;
    fill: var(--global-color-link);
    pointer-events: none;
}

.button:hover .icon {
    transform: rotate(0deg) scale(0.9);
}

html[data-device="mobile"] .icon {
    transform: rotate(0deg) scale(0.9);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
}

.title,
.subtitle {
    color: var(--global-color-link);
    text-shadow: 0px 0px 3px #000;
    padding: 0;
}

.title {
    font-size: 1.1em;
}

.subtitle {
    font-size: 0.6em;
}
