.success {
    position: absolute;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--global-bg-color);
    z-index: 99999;
}

.successIcon {
    width: 80px;
    height: 80px;
    margin: 4px;
    stroke: var(--success-color);
}

.message {
    color: var(--success-color);
    font-size: 14px;
    margin: 4px;
    text-align: center;
}

.success button {
    padding: 6px 16px;
}