.boxLineInput {
    margin: 6px auto;
    width: 240px;
    position: relative;
}

.input + label {
    color: rgba(255, 255, 255, 0.35);
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    display: flex;
    padding-left: 10px;
    align-items: center;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition:
        opacity 0.13s ease-in,
        transform 0.13s ease-in 0.03s;
}

.input {
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300;
    font-size: 14px;
    z-index: 1;
    padding: 6px 8px;
    display: block;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: 10px;
    transition:
        outline-offset 0.13s linear 0.05s,
        outline-color 0.13s linear;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.9) inset;
    -webkit-text-fill-color: var(--color-focus);
    caret-color: var(--color-focus);
    outline-offset: 0px;
    outline-color: var(--color-focus);
    font-size: 14px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.input:focus {
    outline-color: var(--color-focus);
    outline-offset: 0px;
    transition:
        outline-offset 0.13s linear,
        outline-color 0.13s linear 0.03s;
}

.input:not(:placeholder-shown) + label,
.input:not(:placeholder-shown):-webkit-autofill + label {
    transform: translateX(10px);
    opacity: 0;
}
