.mailBox {
    width: 160px;
     height: 100px;
    box-sizing: border-box;
    display: block;
    overflow: visible;
    position: absolute;
  transform-style: flat;
  perspective: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    overflow: visible;
}



.innerMailBox {
    width: 160px;
    position: absolute;
     height: 100px;
     will-change: transform, opacity;
     transform: scale(0) rotateX(0deg) rotateY(0deg);
     opacity: 0;
}

.startBack .innerMailBox {
    animation: back 1s ease-in-out forwards;
}

@keyframes back {
    0% {
        opacity: 0;
        transform: scale(0) rotateX(70deg) rotateY(70deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateX(0deg) rotateY(0deg);
    }
}

.bend {
    position: absolute;
    width: 160px;
    height: 100px;
    overflow: visible;
    perspective: 1200px;
    will-change: transform;
  animation:
    bend 1.4s ease-in-out infinite;
}

@keyframes bend {
  0%, 100% {
    transform: rotateX(0deg) rotate(3deg) scaleX(1);
  }
  50% {
    transform: rotateX(3deg) rotate(0deg) scaleX(1.03);
  }
}


.envelopeTop, .envelopeBottom, .envelopeUnder {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    will-change: transform, opacity;
}

.envelopeTop {
    z-index: 5;
    perspective: 800px;
    transform-style: preserve-3d;
}

.envelopeUnder {
  z-index: 2;
}


.envelopeBottom {
    z-index: 4;
}


.envelope {
    overflow: visible;
    width: 160px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(255, 228, 148, 0.55); */
}

.body {
    fill: rgb(192, 174, 121);
}

.lineShadow {
    stroke: rgb(140, 127, 90);
    stroke-width: 1px;
}

.lineShadow:first-of-type {
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 1));
}

.lineShadow:last-of-type {
    filter: drop-shadow(-2px 0px 4px rgba(0, 0, 0, 1));
}


.top {
    transform-origin: top center;
    filter: drop-shadow(0px 4px 8px  rgba(0, 0, 0, .6));
     stroke-width: 0.25px;
     stroke: rgba(0, 0, 0, .75);
    fill: rgb(192, 174, 121);
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotateX(0deg);
  
}



.underTop {
   fill: rgba(255, 228, 148, 0.95);
   stroke-width: 0.25px;
   stroke: rgb(220, 196, 123);
   filter: drop-shadow(0px 0px 2px var(--global-color-link));
   stroke-linecap: round;
   stroke-linejoin: round;
}

.underTopInner {
    fill: rgba(0, 0, 0, .5);
    filter: drop-shadow(0px -4px 8px  rgba(0, 0, 0, 0.75));
}

.seal {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--global-bg-color);
    box-shadow: 0px 0px 4px 2px var(--global-bg-color);
    z-index: 6;
    transform-origin: center center;
}


.outer {
    width: 98%;
    height: 98%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--global-color-link);
}

.inner {
    width: 65%;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--global-color-link);
}


.messageDefault {
    position: absolute;
    width: 140px;
    height: 80px;
    background: var(--global-bg-color);
     outline: 1px solid var(--global-color-link);
     outline-offset: -6px;
    border-radius: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    transform-style: flat;
    perspective: none;
    will-change: auto;
    contain: layout paint;

    /* фикс для текста */
    backface-visibility: hidden;
    z-index: 4;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





.messagesBox {
    position: absolute;
    width: 140px;
        height: 80px;
    background: var(--global-bg-color);
     outline: 1px solid var(--global-color-link);
     outline-offset: -6px;
    border-radius: 10%;
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 9999999999;
}

.messagesBox:before {
    content: "";
    opacity: .08;
    pointer-events: none;
    z-index: -1;
    background: var(--pallet-from-site) repeat;
    width: 100%;
    height: 100%;
    -webkit-mask: var(--pallet-from-site);
    -webkit-mask: var(--pallet-from-site);
    mask: var(--pallet-from-site);
    background-position: 50%;
    background-size: 120px 120px;
    background-color: var(--global-neutral-color);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-size: 120px 120px;
    mask-size: 120px 120px;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
}

.messageBox * {
    opacity: 0;
}

.isEnd * {
    opacity: 0;
    animation: opac .3s ease forwards;
}

@keyframes opac {
    100% {
        opacity: 1;
    }
}

.active {
    animation: end .3s ease-out forwards;
    animation-delay: 500ms;
}



@keyframes end {
    0.01% {
        opacity: 1;
    }


    100% {
        opacity: 1;
        width: 624px;
        height: 90vh;
        outline: 12px outset var(--default-backdrop-color);
    outline-offset: 0px;
    border-radius: 14px;
    }
}







.stepOne .seal {
    animation: seal 2s ease-in-out forwards;
    transform-origin: left top;
}

@keyframes seal {
    25% {
        transform: translate(-50%, -50%) rotate(45deg) rotateY(0deg);
    }

    75% {
        opacity: 1;
    }
   
    100% {
        opacity: 0;
        transform: translate(-50%, 540px) rotate(360deg) rotateY(180deg);
    }
}



.stepTwo .top {
     animation: top 1s ease forwards;
}

@keyframes top {
    100% {
        transform: rotateX(190deg);
    }
}


.stepThree .envelopeUnder, .stepThree .envelopeBottom, .stepThree .envelopeTop {
    z-index: 2;
    animation: down 1.5s linear forwards;
}

@keyframes down {
    25% {
        transform: translateY(25vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(120deg);
    }
}




.stepFour .messageDefault {
    animation: size .5s linear forwards;
}


.stepFour .bend {
    animation: none;
}

@keyframes size {
    25% {
        width: 140px;
    height: 80px;
    }
    99.99% {
    opacity: 1;
    }
    100% {
        outline: 1px solid var(--default-backdrop-color);
    outline-offset: -6px;
    border-radius: 14px;
    opacity: 0;
    }
}



.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    padding: 4px;
    padding-left: 8px;
    flex: 1;
    flex-shrink: 0;
    z-index: 5;
    margin: 4px;
    max-height: 40px;
        background: var(--default-backdrop-color);
    border: 1px solid var(--default-backdrop-color);
    border-radius: 10px 10px 8px 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 3px #000c;
}

.header > span:first-of-type {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--4nth-font);
    color: var(--global-color-link);

}

.header button {
    border-radius: 2px;
}


.wrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    position: relative;
}

.scroll {
    display: flex;
    flex: 1;
    min-height: 100%;
    min-width: 0;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
}
