.container {
    width: 80px;
    height: 80px;

    position: relative;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    transform-origin: bottom center;

    animation: shake 3s ease-in-out infinite;

    display: block;

    backface-visibility: hidden;

    will-change: transform;
}

.glassAlternative {
    z-index: 1;
    position: absolute;
    left: 20px;
    width: 40px;
    height: 28px;
    bottom: 27px;
    border-radius: 50% 50% 14px 14px;
    border-top: none;

    overflow: hidden;

    cursor: pointer;
}

.glass {
    position: absolute;
    width: 80px;
    left: 0px;
    height: auto;
    bottom: 0px;
    z-index: 2;

    stroke-width: 1px;
    fill: rgba(255, 255, 255, 0.778);
    vector-effect: non-scaling-stroke;
}

.container,
.glass {
    isolation: isolate;
}
.liquidContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.liquid {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 100%;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
    ); /* #781230 */
    animation: liquidMove 3s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    15% {
        transform: translateX(-50%) rotate(10deg);
    }
    30% {
        transform: translateX(-50%) rotate(-8deg);
    }
    45% {
        transform: translateX(-50%) rotate(6deg);
    }
    60% {
        transform: translateX(-50%) rotate(-4deg);
    }
    75% {
        transform: translateX(-50%) rotate(2deg);
    }
    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes liquidMove {
    0% {
        clip-path: polygon(
            0% 100%,
            0% 32%,

            5% 29%,
            10% 25%,
            15% 22%,
            20% 20%,
            25% 19%,
            30% 19%,

            35% 20%,
            40% 21%,
            45% 22%,
            50% 22%,
            55% 22%,
            60% 21%,
            65% 20%,

            70% 19%,
            75% 19%,
            80% 20%,
            85% 23%,
            90% 27%,
            95% 30%,
            100% 32%,

            100% 100%
        );
    }

    /* наклон вправо -> жидкость влево */
    25% {
        clip-path: polygon(
            0% 100%,
            0% 56%,

            5% 55%,
            10% 53%,
            15% 50%,
            20% 46%,
            25% 41%,
            30% 35%,

            35% 28%,
            40% 22%,
            45% 17%,
            50% 14%,
            55% 13%,
            60% 14%,
            65% 17%,

            70% 21%,
            75% 25%,
            80% 29%,
            85% 33%,
            90% 36%,
            95% 38%,
            100% 40%,

            100% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 100%,
            0% 30%,

            5% 31%,
            10% 33%,
            15% 35%,
            20% 37%,
            25% 39%,
            30% 41%,

            35% 42%,
            40% 43%,
            45% 44%,
            50% 44%,
            55% 44%,
            60% 43%,
            65% 42%,

            70% 39%,
            75% 35%,
            80% 31%,
            85% 27%,
            90% 24%,
            95% 21%,
            100% 19%,

            100% 100%
        );
    }

    75% {
        clip-path: polygon(
            0% 100%,
            0% 40%,

            5% 38%,
            10% 36%,
            15% 33%,
            20% 29%,
            25% 25%,
            30% 21%,

            35% 17%,
            40% 14%,
            45% 13%,
            50% 13%,
            55% 14%,
            60% 17%,

            65% 22%,
            70% 28%,
            75% 34%,
            80% 39%,
            85% 43%,
            90% 46%,
            95% 48%,
            100% 49%,

            100% 100%
        );
    }

    100% {
        clip-path: polygon(
            0% 100%,
            0% 32%,

            5% 29%,
            10% 25%,
            15% 22%,
            20% 20%,
            25% 19%,
            30% 19%,

            35% 20%,
            40% 21%,
            45% 22%,
            50% 22%,
            55% 22%,
            60% 21%,
            65% 20%,

            70% 19%,
            75% 19%,
            80% 20%,
            85% 23%,
            90% 27%,
            95% 30%,
            100% 32%,

            100% 100%
        );
    }
}
