.box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
   
    box-sizing: border-box;
    overflow: hidden;
    z-index: 999999999999999;
    animation: box .3s ease-in-out forwards;
}


@keyframes box {
    100% {
        opacity: 1;
    }
}

.box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--global-bg-color);
    opacity: 0.9;
    z-index: -1;
}

.box * {
    pointer-events: auto;
}