.error {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--global-bg-color);
}

.errorIcon {
    width: 80px;
    height: 80px;
    margin: 4px;
    stroke: var(--danger-color);
}

.message {
    color: var(--danger-color);
    padding: 10px;
    font-size: 14px;
    margin: 4px;
    text-align: center;
}


.error button {
    padding: 6px 16px;
}