.overlay {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    position: relative;
    align-items: start;
    width: 100%;
    gap: 20px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    user-select: none;
    position: relative;
    align-items: start;
    width: auto;
    gap: 20px;
}

html[data-device="mobile"] .center {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
}

html[data-device="mobile"] .section {
    width: 100%;
    align-items: center;
}

.subtitle {
    color: var(--global-neutral-color);
    max-width: 900px;
}

.imgs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
}

html[data-device="mobile"] .imgs {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.img {
    /* border-radius: 4px; */
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    /* outline: 1px outset var(--global-color-link);
    outline-offset: 3px; */
}

.img::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top: 2px outset var(--global-color-link);
    border-right: 2px outset var(--global-color-link);
    z-index: 1;
    border-radius: 2px;
}

.img::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-bottom: 2px outset var(--global-color-link);
    border-left: 2px outset var(--global-color-link);
    z-index: 1;
    border-radius: 2px;
}

html[data-device="mobile"] .img {
    width: 100%;
    height: auto;
}

html[data-device="mobile"] .img img {
    width: 100%;
    height: auto;
}

.caption {
    z-index: 2;
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    font-size: 10px;
    text-align: center;

    padding: 6px 2px;
    color: var(--global-color-link);
}

.lastSection {
    width: auto;

    flex-direction: row;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
}

.lastSection .img {
    width: 300px;
}

.lastSection .subtitle {
    max-width: 450px;
}

html[data-device="mobile"] .lastSection {
    flex-direction: column;
    align-items: center;
}

html[data-device="mobile"] .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}
