.dataEditWaiter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    will-change: backdrop-filter;
    backdrop-filter: blur(4px);
}

.bodyDataEdit {
    padding: 20px;
    position: relative;
    background-color: var(--global-bg-color);
    border-radius: 8px;
    width: auto;
    min-width: 300px;
    height: auto;
    min-height: 260px;

    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 
    outline: 10px outset var(--default-backdrop-color);
  outline-offset: 4px;
}

.isMessage {
    font-size: 18px;
    margin-bottom: 20px;
}